@media print {

    body button {
        display: none;
    }

    textarea::-webkit-resizer,
    textarea::-webkit-scrollbar {
        display: none !important;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        display: none !important;
    }

    .new-row-button {
        display: none;
    }

    #editPageAron>div:nth-child(1)>span:nth-child(2)>span,
    #editPageAron>div:nth-child(1)>span:nth-child(4)>span {
        display: none;
    }
}

select {
    appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none !important;
}

/* Tarih seçici simgesini gizle */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Header */
#editPageAron>div:nth-child(1) {
    box-sizing: border-box;
    width: 750px;
    margin-left: 13px;
    margin-top: 30px;
    margin-bottom: 23px;
    display: flex;
    justify-content: space-between;
}

#editPageAron>div:nth-child(1) select {
    padding: 3px;
}

#editPageAron>div:nth-child(1)>span>input {
    width: 80px;
    font-size: 16px;
    font-family: tahoma;
}

#editPageAron>div:nth-child(1)>span:nth-child(1) {
    width: 135px;
}

#editPageAron>div:nth-child(1)>span:nth-child(1)>input {
    width: 87px;
}

#editPageAron>div:nth-child(1)>span:nth-child(2)>select {
    width: 150px;
}

#editPageAron>div:nth-child(1)>span:nth-child(4)>select {
    width: 90px;
}

#editPageAron>div:nth-child(1)>span:nth-child(2)>span,
#editPageAron>div:nth-child(1)>span:nth-child(4)>span {
    font-size: 12px;
    font-weight: bold;
    margin-left: 2px;
    color: rgb(62, 62, 131);
}

#editPageAron>div:nth-child(1)>span:nth-child(2)>span:hover,
#editPageAron>div:nth-child(1)>span:nth-child(4)>span:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
}


/* Tablo */
#editPageAron>table {
    border-collapse: collapse;
    margin-left: 13px;
    width: 750px;
}

/* Tek sayıdaki satırların arka plan rengi */
#editPageAron>table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Çift sayıdaki satırların arka plan rengi */
#editPageAron>table tr:nth-child(even) {
    background-color: #fff;
}

/* Tablonun ilk satırı (başlık satırı) arka plan rengi */
#editPageAron>table tr:first-child {
    background-color: #b7b7b7;
}

#editPageAron>table>tbody>tr:nth-child(1) {
    text-align: center;
    font-weight: bold;
}

#editPageAron td {
    height: 30px;
    border: 1px solid #888888;
    padding: 1;
    padding-left: 2;
    padding-right: 2;
    font-size: 10px;
    font-family: tahoma;
}

#editPageAron td:nth-child(1) {
    padding: 2px;
    width: 14px;
}

#editPageAron td:nth-child(2) {
    width: 30px;
}

#editPageAron td:nth-child(3) {
    width: 65px;
}

#editPageAron td:nth-child(4) {
    width: 25px;
}

#editPageAron td:nth-child(5) {
    width: 89px;
}

#editPageAron td:nth-child(6) {
    width: 65px;
}

#editPageAron td:nth-child(7) {
    width: 141px;
}

#editPageAron td:nth-child(8) {
    width: 51px;
}

#editPageAron td:nth-child(9) {
    width: 155px;
}

#editPageAron td:nth-child(10) {
    width: 63px;
}

#editPageAron td:nth-child(11) {
    width: 23px;
}

#editPageAron td:nth-child(10)>input {
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: right;
    background: transparent;
}

#editPageAron td:nth-child(11)>select {
    width: 100%;
    height: 100%;
    text-align: center;
    background: transparent;
}


#editPageAron .new-row-button {
    margin-left: 13px;
    margin-top: 7px;
}

#editPageAron textarea,
#editPageAron input,
#editPageAron select {
    border: none;
}



/* Genel Toplam */
#totalDiv {
    margin-top: 23px;
    width: 750px;
    margin-left: 13px;
    display: flex;
    justify-content: end;
}

#totalDiv table {
    border-collapse: collapse;
    /* width: 220px; */
}

#totalDiv td {
    font-weight: bold;
    padding: 7px;
}

#totalDiv td:nth-child(1) {
    box-sizing: border-box;
    width: 93px;
}

#totalDiv td:nth-child(2) {
    box-sizing: border-box;
    text-align: right;
    width: 100px;
    font-size: 13px;
}


/* Not textarea */
.grow-wrap {
    display: grid;
    width: 750px;
    margin-left: 13px;
    margin-top: 20px;
    padding: 3px;
}

.grow-wrap::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.grow-wrap>textarea {
    resize: none;
    overflow: hidden;
}

.grow-wrap>textarea,
.grow-wrap::after {
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
}
